<!DOCTYPE html>
<html>
<head>
	<% provide(:title, "Contact Me") %>
	<title></title>
<style>
	a {
		text-decoration: none;
		cursor: pointer;
    }
</style>
</head>
<body>

<p style="font-size:50px; text-align:left"> <b> Contact Me</b><br></p>
<br><br><br>

&nbsp &nbsp &nbsp &nbsp
<a href = "https://www.facebook.com/suicidefes">
<%= image_tag('Facebook.png', :alt=>"facebook", height:100, width:100)%></a>
&nbsp &nbsp &nbsp &nbsp
<a href = "https://twitter.com/shalaaaaaaaa">
<%= image_tag('Twitter.png', :alt=>"twitter", height:100, width:100)%></a>
&nbsp &nbsp &nbsp &nbsp
<a href = "igloriasha@gmail.com">
<%= image_tag('google.png', :alt=>"google", height:100, width:100)%></a>
&nbsp &nbsp &nbsp &nbsp
<a href = "https://www.facebook.com/suicidefes">
<%= image_tag('YouTube.png', :alt=>"youtube", height:100, width:100)%></a>
&nbsp &nbsp &nbsp &nbsp
<a href = "https://github.com/ElPsyKongrooo">
<%= image_tag('Github.png', :alt=>"github", height:100, width:100)%></a>
&nbsp &nbsp &nbsp &nbsp
<br>

</body>
</html>