<% provide(:title, "Skillsets") %>

<!--<%= image_tag('IMG_000.jpg', :alt=>"profile picture", height:600, width:450)%> -->

<html>

<% provide(:title, "Home") %>

<!--<%= image_tag('IMG_000.jpg', :alt=>"profile picture", height:600, width:450)%> -->

<head>
<style>
p    {color: black; 
     }

</style>
</head>
<body>

<p style=" font-size: 50px; text-align: justify;"><b> Technical Skills</b> <br> </p>
<br>
<br>
<br>

<p style=" font-size: 16px; text-align: justify;"> <%= image_tag('proglang.png', :alt=>"profile picture", height:100, width:100)%> <b> PROGRAMMING LANGUAGES: </b>
Java, C, Ruby, Php, Javascript, C#, Python 
</p>

<p style=" font-size: 16px; text-align: justify;"> <%= image_tag('framework.png', :alt=>"profile picture", height:100, width:100)%> <b> FRAMEWORKS:</b> 
Codeigniter, C# Framework 
</p>

<p style=" font-size: 16px; text-align: justify;"> <%= image_tag('database.png', :alt=>"profile picture", height:100, width:100)%> <b> DATABASE:</b> 
Mysql
</p>

<p style=" font-size: 16px; text-align: justify;"> <%= image_tag('research.png', :alt=>"profile picture", height:100, width:100)%> <b> RESEARCH:</b> 
Machine Learning, Sentiment Analysis, Data Mining
</p>

</body>
</html>

