<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "SHA IGLORIA", '#', id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home",'/' %></li>
<li><%= link_to "Skillsets", '/static_pages/skillsets' %></li>
<li><%= link_to "Projects", '/static_pages/projects' %></li>
<li><%= link_to "Contact Me", '/static_pages/contact' %></li>
</ul>
</nav>
</div>
</header>
<br>
<br>